@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100..900&display=swap");
#publication-toc #toc ol, #publication-toc-header p {
  font-family: "Bitter", serif;
  font-size: 1.125rem;
  line-height: 1.820625rem;
  font-weight: 400;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
}

#publication-toc-header h1 {
  font-size: 2.383125rem;
  line-height: 2.94375rem;
  font-weight: 800;
}

#publication-toc #toc h2, #publication-toc-header p.subtitle {
  font-family: "Lato", sans-serif;
  font-size: 1.820625rem;
  line-height: 1.820625rem;
  font-weight: 700;
}

#publication-toc #toc .toc-opener, #publication-toc-header .download, #publication-toc-header .start-reading {
  font-size: 1rem;
  font-weight: 700;
  display: inline-flex;
  gap: 0.5ch;
}

#publication-top-navigation .pager {
  background: var(--pub-blue-main);
  color: var(--pub-white);
  font-weight: 500;
  font-size: 0.75rem;
  min-height: 2rem;
}

#publication-top-navigation .pager .next, #publication-top-navigation .pager .back, #publication-top-navigation .pager .toc {
  background-size: 0;
  background-repeat: no-repeat;
  transition: 0.5s;
}
#publication-top-navigation .pager .next:is(:hover, :focus-visible), #publication-top-navigation .pager .back:is(:hover, :focus-visible), #publication-top-navigation .pager .toc:is(:hover, :focus-visible) {
  background-size: 100%;
}

#publication-toc-header .start-reading::after, #publication-toc-header .download span::after, #publication-top-navigation .pager .toc::after, #publication-top-navigation .pager .toc::before, #publication-top-navigation .top .toc::before, #publication-top-navigation .top .back::before {
  font-feature-settings: "liga";
  font-family: "Material Icons";
  text-rendering: optimizeLegibility;
  font-size: 1.2rem;
}

#publication-top-navigation .top .back::before {
  content: "\e5c4";
}

#publication-top-navigation .top .toc::before {
  content: "\e241";
}

#publication-top-navigation .pager .toc::after, #publication-top-navigation .pager .toc::before {
  content: "\e5d3";
}

#publication-toc-header .start-reading::after {
  content: "\e5cc";
}

#publication-toc-header .download span::after {
  content: "\f090";
}

#publication-top-navigation .pager .back::before, #publication-top-navigation .pager .next::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' viewBox='0 0 34 24'%3E%3Cpath d='M11 21 1 11 11 1'/%3E%3Cpath d='M33 23v-4a8 8 0 0 0-8-8H1'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
}

#publication-top-navigation .top .en::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 30'%3E%3CclipPath id='a'%3E%3Cpath d='M0 0v30h60V0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath d='M30 15h30v15zv15H0zH0V0zV0h30z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M0 0v30h60V0z' fill='%23012169'/%3E%3Cpath d='m0 0 60 30m0-30L0 30' stroke='%23fff' stroke-width='6'/%3E%3Cpath d='m0 0 60 30m0-30L0 30' clip-path='url(%23b)' stroke='%23C8102E' stroke-width='4'/%3E%3Cpath d='M30 0v30M0 15h60' stroke='%23fff' stroke-width='10'/%3E%3Cpath d='M30 0v30M0 15h60' stroke='%23C8102E' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#publication-toc #toc .toc-opener::after, #publication-toc #toc .toc-li-opener {
  text-indent: 0;
  position: absolute;
  font-weight: 600;
  width: 14px;
  height: 14px;
  border: 1.5px solid currentColor;
  border-radius: 100%;
  font-size: 17px;
  line-height: 15px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#publication-toc #toc .toc-li-opener .open, #publication-toc #toc .toc-li-opener .close {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

:root {
  --pub-txt-col: #000;
  --pub-white: #fff;
  --pub-blue-main: #0556a5;
  --pub-grey-pale: #F6F8F9;
  --pub-grey-light: #CED7DC;
  --pub-grey-mid: #86939F;
  --pub-grey-dark: #43525A;
  --pub-grey-shadow: #43525a21;
  --pub-oranje: #f56A00;
  --pub-body-bg: var(--white);
}

html {
  font-size: calc(10px + 0.5vw);
}

body.publication {
  background-color: var(--pub-body-bg);
  overflow-x: hidden;
  font-size: 1.2rem;
  font-size: clamp(16px, 1.2rem, 19.2px);
  color: var(--pub-txt-col);
}
@media screen and (min-width: 56rem) {
  body.publication {
    border-right: 0.5rem solid var(--pub-txt-col);
  }
}

#publication-top-navigation {
  font-size: 0.875rem;
  font-weight: 800;
  color: var(--pub-blue-main);
}
#publication-top-navigation > div {
  display: flex;
  justify-content: space-between;
}
#publication-top-navigation > div a {
  display: flex;
  align-items: center;
  gap: 1ch;
}
#publication-top-navigation .pager .back::before, #publication-top-navigation .pager .next::after, #publication-top-navigation .top .en::before {
  content: "";
  display: inline-block;
  width: 2rem;
}
#publication-top-navigation .top {
  padding: 0 1rem;
}
#publication-top-navigation .top a {
  padding: 1rem;
}
#publication-top-navigation .top a:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
}
#publication-top-navigation .top :is(.back, .en) {
  width: 12rem;
}
#publication-top-navigation .top .en::before {
  height: 1rem;
}
#publication-top-navigation .pager {
  color: var(--pub-grey-light);
  line-height: 1.31;
}
#publication-top-navigation .pager .toc {
  font-weight: 700;
  font-size: 1rem;
  color: var(--pub-white);
  padding: 0 1ch;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2666666667) 12%, rgba(0, 0, 0, 0.2666666667) 88%, rgba(0, 0, 0, 0));
  background-position: center;
}
#publication-top-navigation .pager .toc::after, #publication-top-navigation .pager .toc::before {
  font-weight: 400;
  color: var(--pub-grey-light);
}
#publication-top-navigation .pager .back::before, #publication-top-navigation .pager .next::after {
  height: 1.375rem;
}
#publication-top-navigation .pager .next::after {
  transform: rotateY(180deg);
}
#publication-top-navigation .pager :is(.back, .next) {
  flex: 1;
  justify-content: space-between;
  padding: 0.5ch 0;
}
#publication-top-navigation .pager :is(.back, .next):is(:hover, :focus-visible) {
  color: var(--pub-white);
}
#publication-top-navigation .pager .back {
  padding-left: 1rem;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1333333333), rgba(0, 0, 0, 0));
  background-position: left;
}
#publication-top-navigation .pager .next {
  padding-right: 1rem;
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1333333333), rgba(0, 0, 0, 0));
  background-position: right;
}
#publication-top-navigation .pager:has(:is(.back, .next):is(:hover, :focus-visible)) .toc {
  color: var(--pub-grey-light);
}

#publication-toc, #publication-toc-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media screen and (min-width: 111rem) {
  #publication-toc, #publication-toc-header {
    grid-template-columns: 2fr 5fr;
  }
}
@media screen and (max-width: 56rem) {
  #publication-toc, #publication-toc-header {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 32rem) {
  #publication-toc, #publication-toc-header {
    grid-template-columns: 1fr;
  }
}

#publication-toc-header {
  background: var(--pub-grey-light);
}
#publication-toc-header p.subtitle {
  margin-top: -1.5rem;
}
#publication-toc-header :is(h1, .subtitle) {
  margin: 2.5rem 0;
}
#publication-toc-header :is(figure, img) {
  width: 100%;
}
#publication-toc-header hgroup {
  width: min(100% - 5rem, 48rem);
  display: grid;
  align-content: end;
}
@media screen and (max-width: 80rem) {
  #publication-toc-header hgroup {
    margin-left: 2.5rem;
  }
}
#publication-toc-header .lead {
  background: var(--pub-white);
  padding: 1rem 2.5rem 3rem;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 80rem) {
  #publication-toc-header .lead {
    box-shadow: 0 4px 4px var(--pub-grey-shadow);
    margin-bottom: -1.5rem;
    width: 48rem;
  }
}
#publication-toc-header .img-block {
  background: var(--pub-grey-dark);
  text-align: end;
}
#publication-toc-header .txt-block {
  display: grid;
}
@media screen and (min-width: 80rem) {
  #publication-toc-header .txt-block {
    justify-items: center;
  }
}
#publication-toc-header .download, #publication-toc-header .start-reading {
  margin: 1rem 0;
}
#publication-toc-header .download {
  color: var(--pub-white);
  gap: 1ch;
  margin-right: 1rem;
  white-space: nowrap;
}
#publication-toc-header .download span {
  background: rgba(0, 0, 0, 0.5333333333);
  display: inline-flex;
  align-items: center;
  padding: 0.2ch 0.8rem 0 1rem;
  gap: 0.5ch;
  line-height: 0;
  font-size: 0.75rem;
  font-weight: 900;
  border-radius: 1rem;
}
#publication-toc-header .download:is(:hover, :focus-visible) {
  color: var(--pub-white);
}
#publication-toc-header .download:is(:hover, :focus-visible) span {
  background: var(--pub-oranje);
}
#publication-toc-header .start-reading {
  color: var(--pub-blue-main);
  position: absolute;
  bottom: 0.5rem;
}
#publication-toc-header .start-reading:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
}

#publication-toc #toc {
  grid-column-start: 2;
  padding: 5rem 2.5rem;
  background: var(--pub-grey-pale);
}
@media screen and (max-width: 56rem) {
  #publication-toc #toc {
    grid-column: 1/span 2;
  }
}
#publication-toc #toc .inner {
  width: 48rem;
  margin: auto;
}
#publication-toc #toc ol {
  padding: 0;
  margin: 0;
}
#publication-toc #toc ol ol {
  padding-left: 2.5rem;
}
#publication-toc #toc a:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
  background: rgba(255, 255, 255, 0);
  outline: none;
}
#publication-toc #toc .toc-li-opener {
  color: var(--pub-blue-main);
  cursor: pointer;
  margin: 8px 0 0 -32px;
  transition: opacity 0.3s;
}
#publication-toc #toc .toc-li-opener .close {
  display: none;
}
#publication-toc #toc .toc-li-opener:hover {
  color: var(--pub-oranje);
}
#publication-toc #toc .toc-li-opener:has(:focus-visible) {
  color: var(--pub-oranje);
  box-shadow: 0 0 0 2px var(--pub-oranje);
}
#publication-toc #toc .toc-li-opener:has(:focus-visible):has(:checked) {
  background: var(--pub-oranje);
  color: #fff;
  border-color: var(--pub-oranje);
}
#publication-toc #toc .toc-li-opener + li {
  display: grid;
  grid-template-rows: auto 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.666s;
}
#publication-toc #toc .toc-li-opener + li > ol {
  min-height: 0;
  transition: visibility 0.666s;
  visibility: hidden;
}
#publication-toc #toc .toc-li-opener + li > ol li:last-of-type {
  margin-bottom: 1rem;
}
#publication-toc #toc .toc-li-opener:has(:checked) {
  background-color: var(--pub-blue-main);
  border-color: var(--pub-blue-main);
  color: var(--pub-white);
}
#publication-toc #toc .toc-li-opener:has(:checked) .close {
  display: inline;
}
#publication-toc #toc .toc-li-opener:has(:checked) .open {
  display: none;
}
#publication-toc #toc .toc-li-opener:has(:checked):hover {
  color: #fff;
  background: var(--pub-oranje);
  border-color: var(--pub-oranje);
}
#publication-toc #toc .toc-li-opener:has(:checked) + li {
  grid-template-rows: auto 1fr;
}
#publication-toc #toc .toc-li-opener:has(:checked) + li > ol {
  visibility: visible;
}
#publication-toc #toc .toc-opener {
  cursor: pointer;
  color: var(--pub-blue-main);
  display: inline-flex;
  align-items: center;
  position: relative;
  text-indent: 0;
  top: -1rem;
}
#publication-toc #toc .toc-opener .close {
  display: none;
}
#publication-toc #toc .toc-opener:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
}
#publication-toc #toc .toc-opener::before {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  border: 1px solid var(--pub-grey-mid);
  border-radius: 1rem;
  order: 1;
}
#publication-toc #toc .toc-opener::after {
  content: "+";
  right: 1.5rem;
  transition: right 0.3s;
}
#publication-toc #toc #toc-openall:checked + .toc-opener .close {
  display: inline;
}
#publication-toc #toc #toc-openall:checked + .toc-opener .open {
  display: none;
}
#publication-toc #toc #toc-openall:checked + .toc-opener::before {
  background: var(--pub-white);
  border-color: var(--pub-blue-main);
}
#publication-toc #toc #toc-openall:checked + .toc-opener::after {
  right: 0.1rem;
  background-color: var(--pub-blue-main);
  border-color: var(--pub-blue-main);
  color: var(--pub-white);
}
#publication-toc #toc #toc-openall:checked + .toc-opener:is(:hover, :focus-visible)::before, #publication-toc #toc #toc-openall:checked + .toc-opener:is(:hover, :focus-visible)::after {
  border-color: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:checked + .toc-opener:is(:hover, :focus-visible)::after {
  background: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:focus-visible + .toc-opener {
  color: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:checked:focus-visible + .toc-opener::after, #publication-toc #toc #toc-openall:checked:focus-visible + .toc-opener::before {
  border-color: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:checked:focus-visible + .toc-opener::after {
  background: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:checked ~ ol .toc-li-opener {
  opacity: 0;
  pointer-events: none;
}
#publication-toc #toc #toc-openall:checked ~ ol .toc-li-opener + li {
  grid-template-rows: auto 1fr;
}
#publication-toc #toc #toc-openall:checked ~ ol .toc-li-opener + li > ol {
  visibility: visible;
}

@supports not selector(:has(*)) {
  #publication-toc #toc #toc-openall, #publication-toc #toc .toc-opener, #publication-toc #toc .toc-li-opener {
    display: none;
  }
  #publication-toc #toc .toc-li-opener + li {
    display: inherit;
  }
  #publication-toc #toc .toc-li-opener + li > ol {
    visibility: visible;
  }
}/*# sourceMappingURL=nmhh-kiadvanyok.css.map */