//
@charset "utf-8";
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100..900&display=swap');

:root {
  --pub-txt-col: #000;
  --pub-white: #fff;
  --pub-blue-main: #0556a5;
  --pub-blue-deep: #00152F;
  --pub-grey-pale: #F6F8F9;
  --pub-grey-light: #CED7DC;
  --pub-grey-mid: #86939F;
  --pub-grey-dark: #43525A;
  --pub-grey-shadow: #43525a21;
  --pub-dark-shadow: #0128; //000722
  --pub-oranje: #f56A00;
  --pub-body-bg: var(--white);
  --pub-button-bg: var(--pub-blue-main);
}

$line-width: 48rem;
$article-width: 56rem;
$pub-break-e: 111rem;
$pub-break-l: 80rem;
$pub-break-m: 56rem;
$pub-break-s: 32rem;
$h-gap: 2rem;

html {
  font-size: calc(10px + .5vw);
}
body.publication, body.publication-page {
  background-color: var(--pub-body-bg);
  overflow-x: hidden;
  font-size: 1.2rem; //fallback
  font-size: clamp(16px, 1.2rem, 19.2px);
  color: var(--pub-txt-col);
}
body.publication {
  @media screen and (min-width: $pub-break-m) {
      //Csík scrollbar egyensúlyozása
      border-right: .5rem solid var(--pub-txt-col);
    }
}

#publication-top-navigation {
  font-size: .875rem;
  font-weight: 800;
  color: var(--pub-blue-main);
  width: 100%; //benne kell lennie a main ben

  &>div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    //Nem flex, hogy középen legyen a közepe

    a {
      display: flex;
      align-items: center;
      gap: 1ch;
    }
  }
  //felső fehér rész:
  %inline-block-w2rem {
    content: '';
    display: inline-block;
    width: 2rem;
  }
  .top {
    padding: 0 1rem;
    a {
      padding: 1rem;
      &:is(:hover,:focus-visible) {
        color: var(--pub-oranje);
      }
    }
    :is(.back,.en) {
      //width: 12rem; //középen legyen a közepe
    }
    .back {
      justify-self: start;
    }
    :is(.en,.hu) {
      justify-self: end;
    }
    .back::before {
        @extend %material-icons;
        @extend %arrow-back;
    }
    .toc::before {
        @extend %material-icons;
        @extend %list;
    }
    .en::before {
        @extend %inline-block-w2rem;
        @extend %union-jack;
        height: 1rem;
    }
  }
  //alsó kék rész:
  .pager {
    @extend %pager-common;
    color: var(--pub-grey-light);
    line-height: 1.31;
    
    .toc {
      font-weight: 700;
      font-size: 1rem;
      color: var(--pub-white);
      padding: 0 1ch;

      &::after, &::before {
        @extend %material-icons;
        @extend %horizontal-dots;
        font-weight: 400;
        color: var(--pub-grey-light);
      }

      @extend %pager-gradient-anim;
      background-image: linear-gradient(90deg, #0000, #0004 12%, #0004 88%, #0000);
      background-position: center;
      
      
    }
    .back::before, .next::after {
        @extend %inline-block-w2rem;
        @extend %lapozo-svg;
        height: 1.375rem;
    }
    .next::after {
      transform: rotateY(180deg);
    }
    :is(.back,.next) {
      //flex: 1;
      justify-content: space-between;
      padding: .5ch 0;
      
      &:is(:hover,:focus-visible) {
        color: var(--pub-white);
      }
    }
    .back {
      @extend %pager-gradient-anim;
      padding-left: 1rem;
      background-image: linear-gradient(90deg, #0006, #0002, #0000);
      background-position: left;
    }
    .next {
      @extend %pager-gradient-anim;
      padding-right: 1rem;
      background-image: linear-gradient(-90deg, #0006, #0002, #0000);
      background-position: right; 
    }

    &:has(:is(.back,.next):is(:hover,:focus-visible)) {
      .toc {
        color: var(--pub-grey-light);
      }
    }
  } //.pager
} //publication-top-navigation


%gridd {
  display: grid;
  grid-template-columns: 1fr 3fr;
   @media screen and (min-width: $pub-break-e) {
    grid-template-columns: 2fr 5fr;
  }
     @media screen and (max-width: $pub-break-m) {
       grid-template-columns: 1fr 2fr;
     }
        @media screen and (max-width: $pub-break-s) {
          grid-template-columns: 1fr;
        }

}
#publication-toc-header {

  @extend %gridd;
  background: var(--pub-grey-light);

  h1 {@extend %pub-h1;}
  p {@extend %pub-p;}
  p.subtitle {@extend %pub-h2; margin-top: -1.5rem;}
  :is(h1,.subtitle) {margin: 2.5rem 0;}
  :is(figure, img) {width: 100%;}

  hgroup {
  width: min(calc(100% - 5rem),$line-width);
  display: grid;
  align-content: end;

  @media screen and (max-width: $pub-break-l) {
    margin-left: 2.5rem;
   }
  }
  .lead {
    background: var(--pub-white);
    padding: 1rem 2.5rem 3rem;
    position: relative;
    
    z-index: 1;
    @media screen and (min-width: $pub-break-l) {
      box-shadow: 0 4px 4px var(--pub-grey-shadow);
      margin-bottom: -1.5rem;
      width: $line-width;
    }
    
  }

  .img-block {
    background: var(--pub-grey-dark);
    text-align: end;
  }
  .txt-block {
    display: grid;
    @media screen and (min-width: $pub-break-l) {
      justify-items: center;
    }
  }

  .download, .start-reading {
    @extend %pub-button;
    margin: 1rem 0;
  }
  .download {
    @extend %pub-button-download;
    color: var(--pub-white);
    span {
      background: var(--pub-dark-shadow);
    }
  }
  .start-reading {
    color: var(--pub-blue-main);
    position: absolute;
    bottom: .5rem;

    &::after {
      @extend %material-icons;
      @extend %chevron-right;
    }

    &:is(:hover,:focus-visible) {
      color: var(--pub-oranje);
    }
  }

}//#publication-toc-header
#publication-toc {
  @extend %gridd;

  //ebbű majd kell tenni a root-ba...
  #toc {
    grid-column-start: 2;
    padding: 5rem 2.5rem;
    background: var(--pub-grey-pale);
    @media screen and (max-width: $pub-break-m) {
      grid-column: 1 / span 2;
    }

    .inner {
      width: $line-width;
      margin: auto;
    }

    h2 {
      @extend %pub-h2;
    }

    ol {
      @extend %pub-p;
      padding: 0;
      margin: 0;
      & ol {
        padding-left: 2.5rem;
      }
    }
    a:is(:hover,:focus-visible) {
      color: var(--pub-oranje);
      background: #fff0;
      outline: none;
    }
    
    //kis nyitó pucukák:
    .toc-li-opener {
      @extend %plus-icon;
      display: flex;
      justify-content: center;
      align-items: start;
      color: var(--pub-blue-main);
      cursor: pointer;
      margin: 8px 0 0 -32px;
      transition: opacity .3s;

      .open,.close {
       @extend %vh;
      }
      .close {
        display: none;
      }

      &:hover {
        color: var(--pub-oranje);
      }

      &:has(:focus-visible) {
        color: var(--pub-oranje);
        box-shadow: 0 0 0 2px var(--pub-oranje);
      }

      &:has(:focus-visible):has(:checked) {
        background: var(--pub-oranje);
        color: #fff;
        border-color: var(--pub-oranje);
      }

      &+li {
          display: grid;
          grid-template-rows: auto 0fr; //az első szöveg miatt
          overflow: hidden;
          transition: grid-template-rows .666s;

          &>ol {
            min-height: 0;
              transition: visibility .666s;
              visibility: hidden;
            
              & li:last-of-type {
                margin-bottom: 1rem;
              }
          }
      }
        &:has(:checked) {
          background-color: var(--pub-blue-main);
          border-color: var(--pub-blue-main);
          color: var(--pub-white);
          align-items: end;

          .close {display: inline;}
          .open {display: none;}


          &:hover {
              color: #fff;
              background: var(--pub-oranje);
              border-color: var(--pub-oranje);
            }

          &+li {
            grid-template-rows: auto 1fr;
            &>ol {
              visibility: visible;
            }
          }
        }
    }

    //Mindent kinyitó:
    .toc-opener {
      @extend %pub-button;
      cursor: pointer;
      color: var(--pub-blue-main);
      display: inline-flex;
      align-items: center;
      position: relative;
      text-indent: 0;
      top: -1rem;

      .close {display: none;}

      &:is(:hover,:focus-visible) {
        color: var(--pub-oranje);
      }

      &::before {
        content: '';
        display: inline-block;
        width: 2.5rem;
        height: 1.25rem;
        border: 1px solid var(--pub-grey-mid);
        border-radius: 1rem;
        order: 1;
      }
      &::after {
        @extend %plus-icon;
        content: '';
        right: 1.5rem; //balra kezd
        transition: right .3s;
      }
    }
     #toc-openall:checked + .toc-opener {
      .close{display: inline;}
      .open{display: none;}
      &::before {
        background: var(--pub-white);
        border-color: var(--pub-blue-main);
      }
      &::after {
        right: .1rem;
        background-color: var(--pub-blue-main);
        border-color: var(--pub-blue-main);
        color: var(--pub-white);
      }
       &:is(:hover,:focus-visible) {
        &::before,&::after {
          border-color: var(--pub-oranje);
        }
        &::after {
          background: var(--pub-oranje);
        }
      }
    }
    #toc-openall:focus-visible + .toc-opener {
      color: var(--pub-oranje);
    }
    #toc-openall:checked:focus-visible + .toc-opener {
      &::after,&::before {
        border-color: var(--pub-oranje);  //Összevonni :DDD
      }
      &::after {
        background: var(--pub-oranje);
      }
      
    }
    #toc-openall:checked ~ ol .toc-li-opener {
      opacity: 0;
      pointer-events: none;

      &+li {
          grid-template-rows: auto 1fr;
      
          &>ol {
            visibility: visible;
          }
        }
    }
  }
}//#publication-toc

//Ha nincs has selector a kibecsukó cuccokat leveszem:
@supports not selector(:has(*)) {
  #publication-toc #toc #toc-openall, #publication-toc #toc .toc-opener, #publication-toc #toc .toc-li-opener {
    display: none;
  }
  #publication-toc #toc .toc-li-opener+li {
    display: inherit;
  }  
  #publication-toc #toc .toc-li-opener+li>ol {
    visibility: visible;
  }
}

// .....*
// ....**
// ...***
// ..****
// .*****

//PUBLI-PAGE
.publication-page main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.publication-page article {

  @extend %pub-p;
  width: calc(100% - 2.5rem);
  max-width: $article-width;
  margin-bottom: 2.5rem;
  counter-reset: fn-num 0;

  h2{@extend %pub-h1;}
  h3{@extend %pub-h2;}
  h4{@extend %pub-h3;}
  h5{@extend %pub-h4;}
  h6{@extend %pub-h5;}

  img {
    width: 100%;
  }
  figcaption {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
    margin-top: .2rem;
  }
  .full {
    //általános
    margin: 0 min(-1.5rem, calc(-1 * (50vw - $article-width/2)));

    & figure:first-child figcaption {padding-left: 1ch;}
  }

  :is(ol,ul) {
    // padding: 0;
    margin: 2.5rem 0;
  }
  li:not(.publication-tags li) {
    margin: 1rem 2rem 1rem -1rem;
    padding-left: 1rem;
  }
}//aticle


.publication-article-header{
  margin: 2rem 0;
  display: grid;
  justify-items: center;

  :is(.text,.meta) {
      width: min($article-width, calc(100% - 4rem));
    }
  :is(h2,h3,h4,h5,h6) {
    margin-bottom: min(1em, 1rem);
  }
  &.full {
    margin-bottom:  4rem;
  }
  &.over {
    position: relative;
    min-height: 12rem; //az abszolut pozíció miatt fönt megjelenő betűk végütt
    .text {
      //ha nincs meta
      position: absolute;
      bottom: 1.61rem;
    }
    &:has(.meta) {
      .text {
        //ha van meta!
        bottom: 4.5rem;
      }
    }
    :is(h2,h3,h4,h5,h6) {
      color: var(--pub-white);
      background: var(--pub-blue-deep);
      box-shadow: .5ch 0 0 var(--pub-blue-deep);
      display: inline;
    }
    //háttérflekkek miatt:
    h2{padding: .29rem;} //szemre...
    h3{padding: .1rem;}
    h4{line-height: 1.1;}

    .meta {
      margin-top: 1rem;
    }
  }

  .download {
    @extend %pub-button;
    @extend %pub-button-download;
  }

  .author{
    @extend %bitter-small;
    display: inline-flex;
    align-items: baseline;
    gap: .5ch;

    &::before {
      content: '';
      display: inline-block;
      width: 1.162rem;
      height: 1.125rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 18'%3E%3Cpath d='M17.71 4.04c-.34.34-.67.67-.68 1-.03.32.31.65.63.96.48.5.95.95.93 1.44-.02.49-.53 1-1.04 1.5l-4.13 4.14L12 11.66l4.25-4.24-.96-.96-1.42 1.41-3.75-3.75L13.96.29a1 1 0 0 1 1.41 0l2.34 2.34a1 1 0 0 1 0 1.41ZM0 14.25l9.56-9.57 3.75 3.75L3.75 18H0v-3.75Z'/%3E%3C/svg%3E");
    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
  }
}
.publication-leftimage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: $h-gap; 

  figure {
    position: relative;
    img {
      position: absolute;
      top: .3em;
      height: calc(100% - .7em);
      object-fit: cover;
    }
  }

  .text {
    max-width: $article-width;
    padding-right: $h-gap;
    &>:first-child {margin-top: 0;}
    &>:last-child {margin-bottom: 0;}
  }
}

.publication-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: $h-gap;
  padding: 1rem 0;
  figure {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  img {
    object-fit: cover;
    flex: 1;
  }
}


//kiemelések
//általános-fehér-alap
.publication-block {
  @extend %pub-p;
  position: relative;
  font-style: normal;
  padding: 2rem 4rem;
  margin: 2.5rem 0;
  line-height: 2.38125rem;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0 0 64px var(--pub-grey-light);
  
  cite {
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    display: block;
  }

  &:where(blockquote) {

    padding: 2rem 6rem;

    &::before, &::after {
      position: absolute;
      font-size: 3.375rem;
      font-weight: 500;
    }
    &::before {
      content: '„';
      left: 2rem;
      bottom: 2rem;
    }
    &::after {
      content: '”';
      right: 2rem;
      top: 2rem;
    }
  }
}
//proton override: 
.publication-page article blockquote {
  border: 0;
}

//accordion
@keyframes grid-expand {
  from {grid-template-rows: 0fr;}
  to {grid-template-rows: 1fr;}
}
.publication-accordion {
  margin: 2.5rem 0;
  border-top: 1px solid var(--pub-grey-light);
  summary {
    @extend %pub-h4;
    padding: 1rem 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &:is(:hover,:focus-visible) {
      color: var(--pub-blue-main);
      &::after {
        border-color: var(--pub-oranje);
      }
    }
   
    &::after {
      content: '+';
      width: 32px;
      height: 32px;
      line-height: 33px;
      font-size: 32px;
      border-radius: 16px;
      border: 1px solid var(--pub-grey-mid);
      color: var(--pub-blue-main);
      text-align: center;
    }
  }
  .expander {
    display: grid;
    overflow: hidden;
    grid-template-rows: 0fr;
    transition: grid-template-rows .666s;
  }
  .content {
    min-height: 0;
  }
  details {
    border-bottom: 1px solid var(--pub-grey-light);

    &[open] {

      summary::after {
        content: '-';
        line-height: 31px;
      }
      .expander {
        grid-template-rows: 1fr;
        animation: grid-expand 0.5s 0s 1 normal forwards;
      }
    }
  }
}
//szuperlisták
ol.publication-list {
  @extend %nolist;
  counter-reset: list-num 0;

  li {
    counter-increment: list-num 1;
    display: flex;
    gap: 1rem;
  }
  li:before {
    @extend %lato-button;
    font-weight: 700;
    content: counter(list-num);
    background: var(--pub-grey-light);
    color: var(--pub-blue-deep);
    min-width: 2rem;
    padding: .5ch;
    border-radius: 3px;
    align-content: center;
    text-align: center;
  }
}


//kúcsszavak
.publication-tags {
  @extend %nolist;
  display: flex;
  gap: 1ch;
  flex-wrap: wrap;
}
.publication-tag {
  @extend %lato-button;
  font-weight: 600;
  padding: 1ch 1rem .8ch;
  line-height: 1;
  border-radius: 2rem;
  color: var(--pub-txt-col);
  background: var(--pub-grey-pale);
  border: 1px solid var(--pub-grey-light);
  white-space: nowrap;
  display: inline-block;
  &:is(:hover,:focus) {
    text-decoration: none;
    color: var(--pub-oranje);
    border-color: var(--pub-oranje);
  }
}

#publication-footnotes {
  width: 100%;
  max-width: $article-width;
  @extend %pub-p;
  padding: .5rem 0 2.5rem;
  background: var(--pub-grey-pale);
  box-shadow: 50vw 0 0 var(--pub-grey-pale), -50vw 0 0 var(--pub-grey-pale);

  h3{
    @extend %pub-h2;
    text-align: center;
  }

  ol {
    padding: 0;
  }
  li {
    margin: 2.5rem 0;
    color: var(--pub-grey-dark);
    &:is(:hover,:target) {
      color: var(--pub-txt-col);
    }
  }
}
//footnote-ok a szövegbe
@keyframes fade-in {
  from {opacity: 0; margin-top: -2rem;}
  to {opacity: 1; margin-top: 0;}
}
a[href*=pub-fn] {
  font-size: 0;
  line-height: 0;
  color: #0000;
  counter-increment: fn-num 1;
  &::after {
    font-size: .875rem;
    position: relative;
    top: -1ch;
    color: var(--pub-blue-main);
    font-weight: 700;
    content: "[ " counter(fn-num) " ]";
    padding-right: 1ex;
  }
  &:focus {
    outline: none;
  }
  &:is(:hover, :focus-visible)::after {
    color: var(--pub-oranje);
    border: 0;
  }
}
.publication-footnoote {
  display: block;
  font-size: 1rem;
  line-height: $phi;
  color: var(--pub-txt-col);
  max-width: $article-width - 6rem;
  padding: 2.5rem;
  background: var(--pub-grey-pale);
  position: absolute;
  z-index: 1;
  border-radius: 1ch;
  animation: fade-in 0.5s 0s 1 ease-out forwards;

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: #0000;

    span {
      @extend %vh;
    }
    &::after {
      @extend %material-icons;
      @extend %close;
    }

    &:is(:hover,:focus-visible) {
      color: var(--pub-oranje);
    }
  }
}