@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100..900&display=swap");
#publication-footnotes, .publication-block:not(.textlike), .publication-page article, #toc ol, #publication-toc-header p, .publication-page article h6, .publication-accordion summary, .publication-block:not(.textlike) .header, .publication-page article h5, .publication-article-header .author {
  font-family: "Bitter", serif;
  font-size: 1.125rem;
  line-height: 1.820625rem;
  font-weight: 400;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
}

.publication-article-header .author {
  font-size: 1rem;
}

.publication-tag, .publication-list li:before, .publication-article-header .download, #publication-toc #toc .toc-opener, #publication-toc-header .download, #publication-toc-header .start-reading {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.publication-page article h2, #publication-toc-header h1 {
  font-size: 2.383125rem;
  line-height: 2.94375rem;
  font-weight: 800;
}

#publication-footnotes h3, .publication-page article h3, #toc h2, #publication-toc-header p.subtitle {
  font-family: "Lato", sans-serif;
  font-size: 1.820625rem;
  line-height: 1.820625rem;
  font-weight: 700;
}

.publication-page article h4 {
  font-size: 1.820625rem;
  line-height: 1.820625rem;
  font-weight: 400;
}

.publication-accordion summary, .publication-block:not(.textlike) .header, .publication-page article h5 {
  font-size: 1.4725rem;
}

.publication-page article h6 {
  font-weight: 800;
}

.publication-article-header .download, #publication-toc #toc .toc-opener, #publication-toc-header .download, #publication-toc-header .start-reading {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  display: inline-flex;
  gap: 0.5ch;
}

.publication-article-header .download, #publication-toc-header .download {
  gap: 1ch;
  white-space: nowrap;
}
.publication-article-header .download span, #publication-toc-header .download span {
  background: var(--pub-button-bg);
  color: var(--pub-white);
  display: inline-flex;
  align-items: center;
  padding: 0.2ch 0.8rem 0 1rem;
  gap: 0.5ch;
  line-height: 0;
  font-size: 0.75rem;
  font-weight: 900;
  border-radius: 1rem;
  margin-right: 1rem;
  max-height: 2rem;
}
.publication-article-header .download:is(:hover, :focus-visible) span, #publication-toc-header .download:is(:hover, :focus-visible) span {
  background: var(--pub-oranje);
}

#pager {
  background: var(--pub-blue-main);
  color: var(--pub-white);
  font-weight: 500;
  font-size: 0.75rem;
  min-height: 2rem;
}

#pager .next, #pager .back, #pager .toc {
  background-size: 0;
  background-repeat: no-repeat;
  transition: 0.5s;
}
#pager .next:is(:hover, :focus-visible), #pager .back:is(:hover, :focus-visible), #pager .toc:is(:hover, :focus-visible) {
  background-size: 100%;
}

#close-toc::after, .publication-footnoote .close::after, #publication-toc-header .start-reading::after, #pager .toc::after, #pager .toc::before, #publication-top-navigation .top .toc::before, #publication-top-navigation .top .back::before, .publication-article-header .download span::after, #publication-toc-header .download span::after {
  font-feature-settings: "liga";
  font-family: "Material Icons";
  text-rendering: optimizeLegibility;
  font-size: 1.2rem;
}

#publication-top-navigation .top .back::before {
  content: "\e5c4";
}

#publication-top-navigation .top .toc::before {
  content: "\e241";
}

#pager .toc::after, #pager .toc::before {
  content: "\e5d3";
}

#publication-toc-header .start-reading::after {
  content: "\e5cc";
}

.publication-article-header .download span::after, #publication-toc-header .download span::after {
  content: "\f090";
}

#close-toc::after, .publication-footnoote .close::after {
  content: "\e5cd";
}

#pager .back::before,
#pager .next::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' viewBox='0 0 34 24'%3E%3Cpath d='M11 21 1 11 11 1'/%3E%3Cpath d='M33 23v-4a8 8 0 0 0-8-8H1'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
}

#publication-top-navigation .top .en::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 30'%3E%3CclipPath id='a'%3E%3Cpath d='M0 0v30h60V0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath d='M30 15h30v15zv15H0zH0V0zV0h30z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M0 0v30h60V0z' fill='%23012169'/%3E%3Cpath d='m0 0 60 30m0-30L0 30' stroke='%23fff' stroke-width='6'/%3E%3Cpath d='m0 0 60 30m0-30L0 30' clip-path='url(%23b)' stroke='%23C8102E' stroke-width='4'/%3E%3Cpath d='M30 0v30M0 15h60' stroke='%23fff' stroke-width='10'/%3E%3Cpath d='M30 0v30M0 15h60' stroke='%23C8102E' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E%0A");
}

#publication-toc #toc .toc-opener::after, #publication-toc #toc .toc-li-opener {
  text-indent: 0;
  position: absolute;
  font-weight: 600;
  width: 14px;
  height: 14px;
  border: 1.5px solid currentColor;
  border-radius: 100%;
  font-size: 17px;
  line-height: 15px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}

.publication-tags, .publication-list {
  list-style-type: none;
  padding: 0;
}

.publication-footnoote .close span, #publication-toc #toc .toc-li-opener .open, #publication-toc #toc .toc-li-opener .close {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

:root {
  --pub-txt-col: #000;
  --pub-white: #fff;
  --pub-blue-main: #0556a5;
  --pub-blue-deep: #00152F;
  --pub-grey-pale: #F6F8F9;
  --pub-grey-light: #CED7DC;
  --pub-grey-mid: #86939F;
  --pub-grey-dark: #43525A;
  --pub-grey-shadow: #43525a21;
  --pub-dark-shadow: #0128;
  --pub-oranje: #f56A00;
  --pub-body-bg: var(--white);
  --pub-button-bg: var(--pub-blue-main);
}

html {
  font-size: calc(10px + 0.5vw);
}

body.publication, body.publication-page {
  background-color: var(--pub-body-bg);
  overflow-x: hidden;
  font-size: 1.2rem;
  font-size: clamp(16px, 1.2rem, 19.2px);
  color: var(--pub-txt-col);
}

@media screen and (min-width: 56rem) {
  body.publication {
    border-right: 0.5rem solid var(--pub-txt-col);
  }
}

body.publication-page:has(dialog[open]) {
  overflow: hidden;
}

#publication-top-navigation {
  font-size: 0.875rem;
  font-weight: 800;
  color: var(--pub-blue-main);
  width: 100%;
}
#publication-top-navigation > div {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
#publication-top-navigation > div a {
  display: flex;
  align-items: center;
  gap: 1ch;
}
#publication-top-navigation > div a:focus {
  outline: 0 !important;
}
@media screen and (max-width: 32rem) {
  #publication-top-navigation > div a {
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    min-height: 2rem;
  }
  #publication-top-navigation > div a::before {
    font-size: inherit;
    color: var(--pub-blue-main);
  }
}
#publication-top-navigation #pager .back::before, #pager #publication-top-navigation .back::before,
#publication-top-navigation #pager .next::after,
#pager #publication-top-navigation .next::after, #publication-top-navigation .top .en::before {
  content: "";
  display: inline-block;
  width: 2rem;
}
#publication-top-navigation .top {
  padding: 0 1rem;
}
#publication-top-navigation .top a {
  padding: 1rem;
}
#publication-top-navigation .top a:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
}
#publication-top-navigation .top .back {
  justify-self: start;
}
#publication-top-navigation .top :is(.en, .hu) {
  justify-self: end;
}
#publication-top-navigation .top .en::before {
  height: 1rem;
}
@media screen and (max-width: 32rem) {
  #publication-top-navigation .top .toc {
    color: var(--pub-blue-main);
    font-size: inherit;
  }
}

@keyframes float-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
#main {
  position: relative;
}

#pager {
  color: var(--pub-grey-light);
  line-height: 1.31;
}
@media screen and (max-width: 32rem) {
  #pager {
    min-height: 4rem;
  }
}
#pager .toc {
  font-weight: 700;
  font-size: 1rem;
  color: var(--pub-white);
  padding: 0 1ch;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2666666667) 12%, rgba(0, 0, 0, 0.2666666667) 88%, rgba(0, 0, 0, 0));
  background-position: center;
}
#pager .toc::after, #pager .toc::before {
  font-weight: 400;
  color: var(--pub-grey-light);
}
#pager .back::before,
#pager .next::after {
  height: 1.375rem;
}
#pager .next::after {
  transform: rotateY(180deg);
}
#pager :is(.back, .next) {
  justify-content: space-between;
  padding: 0.5ch 0;
}
#pager :is(.back, .next):is(:hover, :focus-visible) {
  color: var(--pub-white);
}
#pager .back {
  padding-left: 1rem;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1333333333), rgba(0, 0, 0, 0));
  background-position: left;
}
#pager .next {
  padding-right: 1rem;
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1333333333), rgba(0, 0, 0, 0));
  background-position: right;
}
#pager:has(:is(.back, .next):is(:hover, :focus-visible)) .toc {
  color: var(--pub-grey-light);
}
#pager.float {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 666;
  animation: float-in 0.666s 0s 1 normal forwards;
}
#pager.bottom, #pager.totop {
  position: absolute;
}
#pager.bottom {
  bottom: 0;
}
#pager.totop {
  bottom: auto;
}

#publication-toc, #publication-toc-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media screen and (min-width: 111rem) {
  #publication-toc, #publication-toc-header {
    grid-template-columns: 2fr 5fr;
  }
}
@media screen and (max-width: 56rem) {
  #publication-toc, #publication-toc-header {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 32rem) {
  #publication-toc, #publication-toc-header {
    grid-template-columns: 1fr;
  }
}

#publication-toc-header {
  background: var(--pub-grey-light);
}
#publication-toc-header p.subtitle {
  margin-top: -1.5rem;
}
#publication-toc-header :is(h1, .subtitle) {
  margin: 2.5rem 0;
}
#publication-toc-header :is(figure, img) {
  width: 100%;
}
#publication-toc-header hgroup {
  width: min(100% - 5rem, 48rem);
  display: grid;
  align-content: end;
}
@media screen and (max-width: 80rem) {
  #publication-toc-header hgroup {
    margin-left: 2.5rem;
  }
}
#publication-toc-header .lead {
  background: var(--pub-white);
  padding: 1rem 2.5rem 3rem;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 80rem) {
  #publication-toc-header .lead {
    box-shadow: 0 4px 4px var(--pub-grey-shadow);
    margin-bottom: -1.5rem;
    width: 48rem;
  }
}
#publication-toc-header .img-block {
  background: var(--pub-grey-dark);
  text-align: end;
}
#publication-toc-header .txt-block {
  display: grid;
}
@media screen and (min-width: 80rem) {
  #publication-toc-header .txt-block {
    justify-items: center;
  }
}
#publication-toc-header .download, #publication-toc-header .start-reading {
  margin: 1rem 0;
}
#publication-toc-header .download {
  color: var(--pub-white);
}
#publication-toc-header .download span {
  background: var(--pub-dark-shadow);
}
#publication-toc-header .start-reading {
  color: var(--pub-blue-main);
  position: absolute;
  bottom: 0.5rem;
}
#publication-toc-header .start-reading:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
}

#toc ol {
  padding: 0;
  margin: 0;
}
#toc ol ol {
  padding-left: 2.5rem;
}
#toc ol ol li:last-of-type {
  margin-bottom: 1rem;
}
#toc a:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
  background: rgba(255, 255, 255, 0);
  outline: none;
}

#publication-toc #toc {
  grid-column-start: 2;
  padding: 5rem 2.5rem;
  background: var(--pub-grey-pale);
}
@media screen and (max-width: 56rem) {
  #publication-toc #toc {
    grid-column: 1/span 2;
  }
}
#publication-toc #toc .inner {
  width: 48rem;
  margin: auto;
}
#publication-toc #toc .toc-li-opener {
  display: flex;
  justify-content: center;
  align-items: start;
  color: var(--pub-blue-main);
  cursor: pointer;
  margin: 8px 0 0 -32px;
  transition: opacity 0.3s;
}
#publication-toc #toc .toc-li-opener .close {
  display: none;
}
#publication-toc #toc .toc-li-opener:hover {
  color: var(--pub-oranje);
}
#publication-toc #toc .toc-li-opener:has(:focus-visible) {
  color: var(--pub-oranje);
  box-shadow: 0 0 0 2px var(--pub-oranje);
}
#publication-toc #toc .toc-li-opener:has(:focus-visible):has(:checked) {
  background: var(--pub-oranje);
  color: #fff;
  border-color: var(--pub-oranje);
}
#publication-toc #toc .toc-li-opener + li {
  display: grid;
  grid-template-rows: auto 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.666s;
}
#publication-toc #toc .toc-li-opener + li > ol {
  min-height: 0;
  transition: visibility 0.666s;
  visibility: hidden;
}
#publication-toc #toc .toc-li-opener:has(:checked) {
  background-color: var(--pub-blue-main);
  border-color: var(--pub-blue-main);
  color: var(--pub-white);
  align-items: end;
}
#publication-toc #toc .toc-li-opener:has(:checked) .close {
  display: inline;
}
#publication-toc #toc .toc-li-opener:has(:checked) .open {
  display: none;
}
#publication-toc #toc .toc-li-opener:has(:checked):hover {
  color: #fff;
  background: var(--pub-oranje);
  border-color: var(--pub-oranje);
}
#publication-toc #toc .toc-li-opener:has(:checked) + li {
  grid-template-rows: auto 1fr;
}
#publication-toc #toc .toc-li-opener:has(:checked) + li > ol {
  visibility: visible;
}
#publication-toc #toc .toc-opener {
  cursor: pointer;
  color: var(--pub-blue-main);
  display: inline-flex;
  align-items: center;
  position: relative;
  text-indent: 0;
  top: -1rem;
}
#publication-toc #toc .toc-opener .close {
  display: none;
}
#publication-toc #toc .toc-opener:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
}
#publication-toc #toc .toc-opener::before {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  border: 1px solid var(--pub-grey-mid);
  border-radius: 1rem;
  order: 1;
}
#publication-toc #toc .toc-opener::after {
  content: "";
  right: 1.5rem;
  transition: right 0.3s;
}
#publication-toc #toc #toc-openall:checked + .toc-opener .close {
  display: inline;
}
#publication-toc #toc #toc-openall:checked + .toc-opener .open {
  display: none;
}
#publication-toc #toc #toc-openall:checked + .toc-opener::before {
  background: var(--pub-white);
  border-color: var(--pub-blue-main);
}
#publication-toc #toc #toc-openall:checked + .toc-opener::after {
  right: 0.1rem;
  background-color: var(--pub-blue-main);
  border-color: var(--pub-blue-main);
  color: var(--pub-white);
}
#publication-toc #toc #toc-openall:checked + .toc-opener:is(:hover, :focus-visible)::before, #publication-toc #toc #toc-openall:checked + .toc-opener:is(:hover, :focus-visible)::after {
  border-color: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:checked + .toc-opener:is(:hover, :focus-visible)::after {
  background: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:focus-visible + .toc-opener {
  color: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:checked:focus-visible + .toc-opener::after, #publication-toc #toc #toc-openall:checked:focus-visible + .toc-opener::before {
  border-color: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:checked:focus-visible + .toc-opener::after {
  background: var(--pub-oranje);
}
#publication-toc #toc #toc-openall:checked ~ ol .toc-li-opener {
  opacity: 0;
  pointer-events: none;
}
#publication-toc #toc #toc-openall:checked ~ ol .toc-li-opener + li {
  grid-template-rows: auto 1fr;
}
#publication-toc #toc #toc-openall:checked ~ ol .toc-li-opener + li > ol {
  visibility: visible;
}

@supports not selector(:has(*)) {
  #publication-toc #toc #toc-openall, #publication-toc #toc .toc-opener, #publication-toc #toc .toc-li-opener {
    display: none;
  }
  #publication-toc #toc .toc-li-opener + li {
    display: inherit;
  }
  #publication-toc #toc .toc-li-opener + li > ol {
    visibility: visible;
  }
}
.publication-page main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publication-page article {
  width: calc(100% - 2.5rem);
  max-width: 56rem;
  margin-bottom: 2.5rem;
  counter-reset: fn-num 0;
}
.publication-page article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.publication-page article figcaption {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 0.2rem;
}
.publication-page article .full {
  margin: 0 min(-1.5rem, -1 * (50vw - 28rem));
}
.publication-page article .full figure:first-child figcaption {
  padding-left: 1ch;
}
.publication-page article :is(ol, ul) {
  margin: 2.5rem 0;
}
.publication-page article li:not(.publication-tags li) {
  margin: 1rem 2rem 1rem -1rem;
  padding-left: 1rem;
}

.publication-article-header {
  margin: 2rem 0;
  display: grid;
  justify-items: center;
}
.publication-article-header :is(.meta, .text) {
  width: min(56rem, 100vw - 2.5rem);
}
.publication-article-header :is(h2, h3, h4, h5, h6) {
  margin-bottom: min(1em, 1rem);
}
.publication-article-header .top {
  width: 100%;
}
.publication-article-header.full .text {
  position: relative;
  left: max(1.5rem, 50vw - 28rem);
}
.publication-article-header.over .top {
  position: relative;
  min-height: 12rem;
}
.publication-article-header.over .text {
  position: absolute;
  bottom: 1.61rem;
}
.publication-article-header.over :is(h2, h3, h4, h5, h6) {
  color: var(--pub-white);
  background: var(--pub-blue-deep);
  box-shadow: 0.5ch 0 0 var(--pub-blue-deep);
  display: inline;
}
.publication-article-header.over h2 {
  padding: 0.29rem;
}
.publication-article-header.over h3 {
  padding: 0.1rem;
}
.publication-article-header.over h4 {
  line-height: 1.1;
}
.publication-article-header.over .meta {
  margin-top: 1rem;
}
.publication-article-header .author {
  display: inline-flex;
  align-items: baseline;
  gap: 0.5ch;
}
.publication-article-header .author::before {
  content: "";
  display: inline-block;
  width: 1.162rem;
  height: 1.125rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 18'%3E%3Cpath d='M17.71 4.04c-.34.34-.67.67-.68 1-.03.32.31.65.63.96.48.5.95.95.93 1.44-.02.49-.53 1-1.04 1.5l-4.13 4.14L12 11.66l4.25-4.24-.96-.96-1.42 1.41-3.75-3.75L13.96.29a1 1 0 0 1 1.41 0l2.34 2.34a1 1 0 0 1 0 1.41ZM0 14.25l9.56-9.57 3.75 3.75L3.75 18H0v-3.75Z'/%3E%3C/svg%3E");
}
.publication-article-header .meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.publication-leftimage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
@media screen and (max-width: 56rem) {
  .publication-leftimage {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 32rem) {
  .publication-leftimage {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 1fr;
  }
}
.publication-leftimage figure {
  position: relative;
}
.publication-leftimage figure img {
  position: absolute;
  top: 0.3em;
  height: calc(100% - 0.7em);
}
.publication-leftimage figure.publication-block {
  margin: 0;
  padding: 0.66rem 2rem;
}
.publication-leftimage .text {
  max-width: 56rem;
}
.publication-leftimage .text > :first-child {
  margin-top: 0;
}
.publication-leftimage .text > :last-child {
  margin-bottom: 0;
}
.publication-leftimage.full .text {
  margin-right: 1.5rem;
}
@media screen and (max-width: 32rem) {
  .publication-leftimage.full .text {
    margin-left: 1.5rem;
  }
}

.publication-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
}
.publication-pictures figure {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.publication-pictures figure.publication-block {
  margin: 0;
}
.publication-pictures img {
  flex: 1;
}

.publication-block:not(.textlike) {
  position: relative;
  font-style: normal;
  padding: 2rem 4rem;
  margin: 2.5rem 0;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0 0 64px var(--pub-grey-light);
}
.publication-block:not(.textlike).line {
  border-left: 1ch solid var(--pub-blue-main);
  border-radius: 0 3px 3px 0;
}
.publication-block:not(.textlike).dark {
  background: var(--pub-blue-deep);
  color: var(--pub-grey-pale);
  box-shadow: none;
  font-weight: 600;
}
.publication-block:not(.textlike).lead {
  padding: 0;
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
}
.publication-block:not(.textlike) cite {
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  display: block;
}
.publication-block:not(.textlike):where(blockquote) {
  align-content: center;
  container-type: inline-size;
  padding: 2rem 6rem;
}
@container (max-width: 30rem) {
  .publication-block:not(.textlike):where(blockquote) p, .publication-block:not(.textlike):where(blockquote) cite {
    margin: 1rem -4rem;
  }
}
.publication-block:not(.textlike):where(blockquote)::before, .publication-block:not(.textlike):where(blockquote)::after {
  position: absolute;
  font-size: 3.375rem;
  font-weight: 500;
}
.publication-block:not(.textlike):where(blockquote)::before {
  content: "„";
  left: 2rem;
  bottom: 2rem;
}
.publication-block:not(.textlike):where(blockquote)::after {
  content: "”";
  right: 2rem;
  top: 2rem;
}

.textlike {
  border-left: 1em solid var(--pub-grey-light);
  padding: 0 1em;
}
.textlike .header {
  font-weight: 700;
}

.publication-page article blockquote {
  border: 0;
}

@keyframes grid-expand {
  from {
    grid-template-rows: 0fr;
  }
  to {
    grid-template-rows: 1fr;
  }
}
.publication-accordion {
  margin: 2.5rem 0;
  border-top: 1px solid var(--pub-grey-light);
}
.publication-accordion summary {
  padding: 1rem 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.publication-accordion summary:is(:hover, :focus-visible) {
  color: var(--pub-blue-main);
}
.publication-accordion summary:is(:hover, :focus-visible)::after {
  border-color: var(--pub-oranje);
}
.publication-accordion summary::after {
  content: "+";
  width: 32px;
  height: 32px;
  line-height: 33px;
  font-size: 32px;
  border-radius: 16px;
  border: 1px solid var(--pub-grey-mid);
  color: var(--pub-blue-main);
  text-align: center;
}
.publication-accordion .expander {
  display: grid;
  overflow: hidden;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.666s;
}
.publication-accordion .content {
  min-height: 0;
}
.publication-accordion details {
  border-bottom: 1px solid var(--pub-grey-light);
}
.publication-accordion details[open] summary::after {
  content: "-";
  line-height: 31px;
}
.publication-accordion details[open] .expander {
  grid-template-rows: 1fr;
  animation: grid-expand 0.5s 0s 1 normal forwards;
}

.publication-list li {
  position: relative;
  padding-left: 3.5rem !important;
}
.publication-list li:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  content: "";
  background: var(--pub-grey-light);
  color: var(--pub-blue-deep);
  width: 2.5rem;
  border-radius: 3px;
  align-content: center;
  text-align: center;
}

ol.publication-list {
  counter-reset: list-num 0;
}
ol.publication-list li {
  counter-increment: list-num 1;
}
ol.publication-list li::before {
  content: counter(list-num);
}

.publication-tags {
  display: flex;
  gap: 1ch;
  flex-wrap: wrap;
}

.publication-tag {
  font-weight: 600;
  padding: 1ch 1rem 0.8ch;
  line-height: 1;
  border-radius: 2rem;
  color: var(--pub-txt-col);
  background: var(--pub-grey-pale);
  border: 1px solid var(--pub-grey-light);
  white-space: nowrap;
  display: inline-block;
}
.publication-tag:is(:hover, :focus) {
  text-decoration: none;
  color: var(--pub-oranje);
  border-color: var(--pub-oranje);
}

#publication-footnotes {
  width: calc(100% - 5rem);
  max-width: 56rem;
  padding: 0.5rem 0 2.5rem;
  background: var(--pub-grey-pale);
  box-shadow: 50vw 0 0 var(--pub-grey-pale), -50vw 0 0 var(--pub-grey-pale);
}
#publication-footnotes h3 {
  text-align: center;
}
#publication-footnotes ol {
  padding: 0;
}
#publication-footnotes li {
  margin: 2.5rem 0;
  padding-left: 1ch;
  color: var(--pub-grey-dark);
}
#publication-footnotes li:is(:hover, :target) {
  color: var(--pub-txt-col);
}

@keyframes fade-in {
  from {
    opacity: 0;
    margin-top: -2rem;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
a[href*=pub-fn] {
  font-size: 0;
  line-height: 0;
  color: rgba(0, 0, 0, 0);
  counter-increment: fn-num 1;
}
a[href*=pub-fn]::after {
  font-size: 0.875rem;
  position: relative;
  top: -1ch;
  color: var(--pub-blue-main);
  font-weight: 700;
  content: "[ " counter(fn-num) " ]";
  padding-right: 1ex;
}
a[href*=pub-fn]:focus {
  outline: none;
}
a[href*=pub-fn]:is(:hover, :focus-visible)::after {
  color: var(--pub-oranje);
  border: 0;
}

.publication-footnoote {
  display: block;
  font-size: 1rem;
  line-height: 1.618034;
  color: var(--pub-txt-col);
  max-width: 50rem;
  padding: 2.5rem;
  margin-right: 1.5rem;
  background: var(--pub-grey-pale);
  box-shadow: 0 1px 4px var(--pub-grey-mid);
  position: absolute;
  z-index: 1;
  border-radius: 1ch;
  animation: fade-in 0.5s 0s 1 ease-out forwards;
}
.publication-footnoote .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: rgba(0, 0, 0, 0);
}
.publication-footnoote .close:is(:hover, :focus-visible) {
  color: var(--pub-oranje);
}

#toc-container {
  border: 0;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0 1rem var(--pub-dark-shadow);
}
#toc-container #toc {
  padding: 2rem min(4rem, 2vw);
}
#toc-container #toc h2 {
  margin-top: 0;
}

#close-toc {
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  position: sticky;
  background: rgba(0, 0, 0, 0);
  top: 0;
  float: right;
}
#close-toc::after {
  text-align: center;
  background: var(--pub-button-bg);
  border-radius: 1rem;
  font-size: 1.31rem;
  padding: 0.345rem;
  color: #fff;
}
#close-toc:is(:hover, :focus-visible)::after {
  background: var(--pub-oranje);
}/*# sourceMappingURL=nmhh-kiadvanyok.css.map */