.table-of-contents {
    float: none;
    max-width: 100%;
    background: #eee;
    font-size: 0.95em;
    padding: 1em 2em;
    margin: 2em 0 0.5em 0.5em;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
    margin: 0 0 0.25em 1em;
    list-style-type: disc;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

h2:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}