//- out: index.html
doctype html
html(lang="hu")
  head
    title Kiadvány kezdőoldal
    meta(name="description" content="description")

    include _metas.pug

    
  body.publication

    include _header.html

    nav#publication-top-navigation 
      .top 
        a.back(href="#") Vissza link 
        a.toc(href="#") Tartalom
        a.en(href="#") Click for English version  
      .pager
        a.back(href="#") Előző oldal neve
        a.toc(href="#") Aktuális oldal neve
        a.next(href="#") Következő oldal neve

  

    header#publication-toc-header

      .img-block
        figure
          img(src="https://picsum.photos/720/904/")
        a.download(href="#") Letöltöm a kiadványt
          span PDF
      .txt-block
        hgroup(role="group" aria-roledescription="Heading group")
          h1 Országgyűlési Beszámoló 2024
          p(aria-roledescription="subtitle").subtitle Országgyűlési beszámoló hákettes alczíme
        .lead 
          //-p Leírás. Lehet hosszú is. Phi. 18/30. nagyobb mint másfeles. Bitter – Árvíztűrő tükörfúrógép – Amet consequat nam eu cras. Tortor faucibus sit massa faucibus laoreet massa. Ut gravida luctus felis amet lacus ipsum. Eget cras quis mattis phasellus. Id justo et vitae faucibus cras sed molestie. Fames pellentesque feugiat mattis neque dui lacus. Fames consectetur est consectetur nisi nec aliquet at ut egestas.
          p Fames pellentesque feugiat mattis neque dui lacus. Fames consectetur est consectetur nisi nec aliquet at ut egestas.
          a.start-reading(href="#") Elkezdem olvasni a kiadványt 

    section#publication-toc
      
      nav#toc
        .inner
          h2 Tartalom
          input#toc-openall(type="checkbox")
          label.toc-opener(for="toc-openall")
            span.open Összes ág kinyitása
            span.close Összes ág becsukása
          ol
            li
              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/1/Koszonto') K&ouml;sz&ouml;nt&odblac;
            li
              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/1/Koszonto#Roviditesjegyzek') R&ouml;vid&iacute;t&eacute;sjegyz&eacute;k

            label.toc-li-opener
              span(aria-hidden="true") +
              input(type="checkbox")
              span.open Ág kinyitása
              span.close Ág becsukása
            li
              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/2/1_fejezet') 1 fejezet
              ol
                li
                  a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/2/1_fejezet#11_tartalom') 1.1 tartalom
            li
              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/3/2_tartalom') 2. tartalom

            label.toc-li-opener
              span(aria-hidden="true") +
              input(type="checkbox")
              span.open Ág kinyitása
              span.close Ág becsukása
            li
              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/4/3_fejezet') 3. fejezet
              ol
                li
                  a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet') 3.1 fejezet
                  ol
                    li
                      a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#311_tartalom') 3.1.1 tartalom
                    li
                      a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#312_tartalom') 3.1.2 tartalom
                    li
                      a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#313_fejezet') 3.1.3 fejezet
                      ol
                        li
                          a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#3131_fejezet') 3.1.3.1 fejezet
                          ol
                            li
                              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#31311_tartalom') 3.1.3.1.1 tartalom
                            li
                              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#31312_tartalom') 3.1.3.1.2 tartalom
                            li
                              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#31313_tartalom') 3.1.3.1.3 tartalom
                        li
                          a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#3132_fejezet') 3.1.3.2 fejezet
                          ol
                            li
                              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#31321_tartalom') 3.1.3.2.1 tartalom
                            li
                              a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/5/31_fejezet#31322_tartalom') 3.1.3.2.2 tartalom
                li
                  a(href='/kiadvany/1/Orszaggyulesi_beszamolo_2022/6/32_tartalom') 3.2 tartalom
              li: a(href="#")  Utolsó utáni fejezet.


    include _footer.html
       
-//
    //-script(src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js")
    script(src="js/dyna.js")
    
